html {
  overflow-y: scroll;
}

p > code {
  color: #ffffff;
  background: #000000;
  padding: 2px;
}
pre {
  color: #ffffff;
  background: #000000;
  padding: 24px;
  overflow-x: auto;
}
article {
  padding: 24px 0;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

footer:before {
  display: inline-block;
  content: "";
  border-top: 0.12rem solid black;
  width: 90%;
  margin: 0 0rem;
}

:root {
  --link-color: #3d72a4;
  --body-color-dark: white;
  --body-color-light: black;
}

body {
  margin: 1em auto;
  max-width: 40em;
  line-height: 1.6;
  padding: 0 0.62em;
  font: 1.2em/1.62 serif;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

a {
  outline: none;
  text-decoration: none;
}

a:link {
  color: #3d72a4;
}

a:visited {
  color: #3d72a4;
}

a:focus {
  border-bottom: 1px solid;
}

a:hover {
  border-bottom: 1px solid;
}
a.plain {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}
figcaption {
  text-align: center;
  font-size: 0.8em;
}

.menu {
  font-size: 1.2em;
}

footer {
  text-align: center;
}

iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

@media (prefers-color-scheme: dark) {
  body {
    color: var(--body-color-dark);
    background: black;
  }
  a:link {
    color: #5bf;
  }
  a:visited {
    color: #ccf;
  }
  footer:before {
    display: inline-block;
    content: "";
    border-top: 0.12rem solid var(--body-color-dark);
    width: 90%;
    margin: 0 0rem;
  }
}

@media only screen and (max-width: 600px) {
  img {
    width: 100%;
  }
}

.logo {
  font-size: 8em;
  text-align: center;
  width: 100%;
}

.logo a {
  color: inherit;
  text-decoration: none;
}
