<article>
	<h3><time>{{ .Date.Format (default "2006-01-02 15:04:05" .Site.Params.dateFmt) }}</time></h3>
	<h1><a href="{{ .Permalink }}" class="plain">{{ .Title }}</a></h1>
	<p>
		{{ .Summary }}
		{{ if .Truncated }}
			<a href="{{ .Permalink }}">Read more...</a>
		{{ end }}
	</p>
    <p class="tags"> tags: 	{{ range .Params.tags }}
	<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
	{{ end }}
    </p>


</article>
