<footer>
	<p>This work by marcin is licensed under a<br><a rel="license"href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>
	{{- range .Site.Menus.footer }}
	<a href="{{ .URL }}"><b>{{ .Name }}</b></a>.
        {{- end }}
	</p>
</footer>
