<header>
	<p>
    <div class="menu">
	<nav>
			{{ with .Site.Menus.main }}
			{{ range . }}
            <a href="{{ .URL | relURL }}"><b>{{ .Name }}</b></a> 
			{{ end }}
            <hr>
	</nav>
    </div>
	</p>
	{{ end }}
    <div class="logo"><a href="{{ .Site.BaseURL }}">{{ .Site.Params.headTitle}}</a></div>
	<div style="float: right;">{{ .Site.Params.subtitle }}</div>
</header>
